services:
  postgres:
    image: postgres:16-alpine
    container_name: cineo-postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cineo -d cineo"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: cineo-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
